<h2>ツイート一覧</h2>

<p><%= notice %></p>

<table>
  <tr>
    <th>Yuyaのつぶやき</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td><%= link_to "ツイートを編集する", edit_tweet_path(tweet.id) %></td>
    <td><%= link_to 'ツイートを削除する', tweet_path(tweet.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>

<%= link_to 'トップ画面に戻る', root_path %>
<%= link_to '新規ツイート', new_tweet_path %>
<%= link_to 'DIVE INTO CODEのページへ', 'https://diveintocode.jp/'  %>